.banner {
    background-position: center center;
    background-image: url('https://lh3.googleusercontent.com/sitesv/AG8ngQXDTHSui067viwBp2ijjDW71o-U9FHfIkr5qLBdp9dijctr_XrRfVdu8wzmScr9LFLj165JVVsuhuW96MtmkQ2-qpXkd-_FiuaBDV4S5a0uf-1Lsi5Kh9-oZnRUM-3K3o5_3GcDdJmweZqC2-eJn-2rbSwsDIDDWVrjPKlQm2iaf6tpTs-Qaff18Q-RjbM=w16383');
    background-size: cover;
    height:500;
}