
.welcome-message {
    text-align: center;
    color: azure;
    opacity: 0.7;
    background-color: black;
    font-size: 10px;
    font-style:italic;
}

.banner {
    background-position: center center;
    background-image: url("img/SR2_normandy.jpg");
    background-size: cover;
    height: 400px;
    display: grid;
    place-items: end center;

}


.bannertext {
    text-align: center;
    opacity: 0.5;
}